 .final{
  display: flex;
} 
 li {list-style-type: none;
font-size: 16pt;
}
.main {
margin: auto;
padding-top: 5px;
padding-bottom: 5px;
width: 400px;
color: white;
border: 1px soild silver;
}
input {
font-size: 20pt;
}
input:focus, textarea:focus{
background-color: lightyellow;
}
input submit {
font-size: 12pt;
}

body {
  font-family: sans-serif;  
  background-image: url(https://media.istockphoto.com/vectors/gps-tracking-map-track-navigation-pins-on-street-maps-navigate-and-vector-id1093593674?k=20&m=1093593674&s=612x612&w=0&h=UkivvfxNZbf7IPJXG-OzlaH7OcoA1tHGr8RlzMd63pw=);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.container {
  width: 380px;
  margin-left: 10%;
  margin-top: 55px;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 17px #333;
}

.header {
  text-align: center;
  padding-top: 75px;
}

.header h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 80px;
}

.main {
  text-align: center;
}

.main input, button {
  width: 300px;
  height: 40px;
  border:none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
}

.main button {
  padding-left: 0;
  background-color: #83acf1;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 70px;

}

.main button:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #7799d4;
}
.main input:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #ddd;
}

.main span {
  position: relative;
}

.main i {
  position: absolute;
  left: 15px;
  color: #333;
  font-size: 16px;
  top: 2px;
}
small{
  color: white;
}
/*Ip address styling*/
.header1 {
  text-align: center;
  padding-top: 75px;
}
.header1 h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 80px;
}

.submit1{
   width: 200px;
  height: 40px;
  border:none;
  outline: none;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
  margin-left: 90px;
}

#ip{
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 150px;
}
#ip1{
  color: white;
  font-size: 30px;
  text-align: center;
}




























